<main class="form-signin p-2">
  <div class="form-signin-container">
    <form>
      <img
        class="mb-4"
        src="../assets/UgHorizontalColor.svg"
        alt=""
        width="220"
        height="70"
      />
      <h1 class="h3 mb-3 fw-normal">Recupera tu Contraseña</h1>

      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
        />
        <label for="floatingInput">Ingresa tu correo</label>
      </div>

      <!-- <button class="btn btn-primary w-100 py-2 mt-4" type="submit">
        Enviar
      </button> -->
      <a [routerLink]="['/login']" class="btn btn-primary w-100 py-2 mt-4"
        >Enviar</a
      >
      <a [routerLink]="['/login']" class="d-block text-center mt-2 w-100"
        >Iniciar Sesión</a
      >
      <p class="mt-5 mb-3 text-body-secondary text-center">© 2023</p>
    </form>
  </div>
</main>
