<header class="py-3 mb-3 border-bottom">
  <div
    class="container d-grid gap-3 align-items-center"
    style="grid-template-columns: 1fr 2fr"
  >
    <a [routerLink]="['/']" class="d-flex" style="width: max-content">
      <img src="../../assets/UgHorizontalColor.svg" alt="" width="180" />
    </a>

    <div
      class="d-grid gap-3 align-items-center"
      style="grid-template-columns: 1fr max-content max-content"
    >
      <form class="w-100 me-3" role="search">
        <input
          type="search"
          class="form-control"
          placeholder="Buscar..."
          aria-label="Search"
        />
      </form>

      <div *ngIf="isLogged; else elseBlock">
        <a
          [routerLink]="['/post-form']"
          class="btn btn-primary"
          style="height: 38px; width: fit-content"
        >
          Nuevo Blog
        </a>
      </div>

      <ng-template #elseBlock>
        <a
          [routerLink]="['/login']"
          class="btn btn-primary"
          style="height: 38px; width: fit-content"
        >
          Iniciar sesión
        </a>
      </ng-template>

      <div *ngIf="isLogged" class="flex-shrink-0 dropdown">
        <a
          href="#"
          class="d-block link-body-emphasis text-decoration-none dropdown-toggle"
          data-bs-toggle="dropdown"
          aria-expanded="false"
        >
          <img
            src="https://github.com/mdo.png"
            alt="mdo"
            width="32"
            height="32"
            class="rounded-circle"
          />
        </a>
        <ul class="dropdown-menu text-small shadow">
          <li>
            <a class="dropdown-item" [routerLink]="['/user-profile']">Perfil</a>
          </li>
          <li><hr class="dropdown-divider" /></li>
          <li>
            <button (click)="logout()" class="dropdown-item">
              Cerrar sesión
            </button>
          </li>
        </ul>
      </div>
    </div>
  </div>
</header>
