<div
  class="row g-0 border rounded overflow-hidden flex-md-row mb-4 shadow-sm h-md-250 position-relative"
>
  <div class="col p-4 d-flex flex-column position-static">
    <strong class="d-inline-block mb-2 text-primary-emphasis">{{
      category
    }}</strong>
    <h3 class="mb-0">{{ title }}</h3>
    <div class="mb-1 text-body-secondary">{{ date }}</div>
    <p class="card-text mb-auto">
      {{ desc }}
    </p>
    <a [routerLink]="['/post', id]" class="icon-link gap-1">Leer más</a>
    <div *ngIf="isEditable" class="d-flex gap-1 mt-2">
      <button class="w-auto btn btn-primary btn-sm" (click)="updatePost()">
        Editar
      </button>
      <button class="w-auto btn btn-danger btn-sm" (click)="deletePost()">
        Eliminar
      </button>
    </div>
  </div>
  <div class="col-auto d-none d-lg-block">
    <img
      src="{{ img }}"
      alt="{{ title }}"
      width="300"
      height="250"
      class="object-fit-cover"
    />
  </div>
</div>
