<div class="position-sticky" style="top: 2rem">
  <div class="p-4">
    <h4>Categorias</h4>
    <ul class="list-unstyled mb-0 d-flex flex-column gap-1">
      <li>
        <a [routerLink]="['/category-list']" class="icon-link gap-1"
          >Tecnología</a
        >
      </li>
      <li>
        <a [routerLink]="['/category-list']" class="icon-link gap-1"
          >Productividad</a
        >
      </li>
      <li>
        <a [routerLink]="['/category-list']" class="icon-link gap-1"
          >Desarrollo Profesional</a
        >
      </li>
      <li>
        <a [routerLink]="['/category-list']" class="icon-link gap-1"
          >Emprendimiento</a
        >
      </li>
      <li>
        <a [routerLink]="['/category-list']" class="icon-link gap-1"
          >Vida Universitaria</a
        >
      </li>
      <li>
        <a [routerLink]="['/category-list']" class="icon-link gap-1"
          >Eventos Académicos</a
        >
      </li>
      <li>
        <a [routerLink]="['/category-list']" class="icon-link gap-1"
          >Reseñas de Cursos y Libros</a
        >
      </li>
      <li>
        <a [routerLink]="['/category-list']" class="icon-link gap-1"
          >Bienestar Estudiantil</a
        >
      </li>
      <li>
        <a [routerLink]="['/category-list']" class="icon-link gap-1"
          >Viajes y Cultura</a
        >
      </li>
      <li>
        <a [routerLink]="['/category-list']" class="icon-link gap-1"
          >Opinión y Debate</a
        >
      </li>
    </ul>
  </div>

  <div class="p-4">
    <h4>Redes Sociales</h4>
    <ul class="list-unstyled d-flex flex-column gap-1">
      <li>
        <a href="https://github.com/DerianPaez/blog-ug" target="_blank"
          >GitHub</a
        >
      </li>
      <li>
        <a href="https://twitter.com/home?lang=es" target="_blank">Twitter</a>
      </li>
      <li>
        <a href="https://www.facebook.com/" target="_blank">Facebook</a>
      </li>
    </ul>
  </div>
</div>
