<app-layout>
  <div class="row g-5">
    <div class="col-md-8">
      <h3 class="pb-4 mb-4 border-bottom">Blogs</h3>

      <app-post-card
        [id]="'01'"
        [category]="'Bienestar Estudiantil'"
        [title]="'Energías Renovables en el Campus Universitario'"
        [date]="'26, Noviembre 2023'"
        [desc]="
          'Descubre cómo nuestra universidad lidera con el ejemplo en sostenibilidad y energías limpias.'
        "
        [img]="'./assets/images/post-cards/post-1.png'"
      ></app-post-card>

      <app-post-card
        [id]="'02'"
        [category]="'Tecnología'"
        [title]="'Inteligencia Artificial en la Web Moderna'"
        [date]="'5, Noviembre 2023'"
        [desc]="
          'Descubre cómo la IA está transformando el desarrollo web y la experiencia del usuario.'
        "
        [img]="'./assets/images/post-cards/post-2.png'"
      ></app-post-card>

      <app-post-card
        [id]="'03'"
        [category]="'Carrera Profesional'"
        [title]="'Nuevas Habilidades para el Mercado Global'"
        [date]="'3, Diciembre 2023'"
        [desc]="
          'Prepárate para el futuro: habilidades clave que necesitarás en el mercado laboral globalizado.'
        "
        [img]="'./assets/images/post-cards/post-3.png'"
      ></app-post-card>

      <app-post-card
        [id]="'04'"
        [category]="'Tecnología'"
        [title]="'Blockchain y Educación: Un Futuro Descentralizado'"
        [date]="'12, Noviembre 2023'"
        [desc]="
          'Explora el impacto potencial de la tecnología blockchain en los sistemas educativos del mañana.'
        "
        [img]="'./assets/images/post-cards/post-4.png'"
      ></app-post-card>

      <app-post-card
        [id]="'05'"
        [category]="'Innovación Educativa'"
        [title]="'Gamificación: Aprendizaje a Través del Juego'"
        [date]="'10, Diciembre 2023'"
        [desc]="
          'Explora cómo la gamificación está revolucionando los métodos de enseñanza y el compromiso estudiantil.'
        "
        [img]="'./assets/images/post-cards/post-5.png'"
      ></app-post-card>
    </div>

    <div class="col-md-4">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</app-layout>
