<app-layout>
  <nav aria-label="breadcrumb my-4">
    <ol class="breadcrumb">
      <li class="breadcrumb-item"><a [routerLink]="['/']">Home</a></li>
      <li class="breadcrumb-item active" aria-current="page">
        {{ post?.title }}
      </li>
    </ol>
  </nav>

  <div class="row g-5">
    <div class="col-md-8">
      <article class="blog-post">
        <h2 class="display-5 link-body-emphasis mb-1">
          {{ post?.title }}
        </h2>
        <p class="blog-post-meta">{{ post?.date }} por <a href="#">Autor</a></p>
        <p>{{ post?.content }}</p>
      </article>
    </div>

    <div class="col-md-4">
      <app-sidebar></app-sidebar>
    </div>
  </div>
</app-layout>
