<main class="form-signin p-2">
  <div class="form-signin-container">
    <form (ngSubmit)="onSubmit()" #form="ngForm">
      <img
        class="mb-4"
        src="../assets/UgHorizontalColor.svg"
        alt=""
        width="220"
        height="70"
      />
      <h1 class="h3 mb-3 fw-normal">Regístrate</h1>

      <div class="form-floating">
        <input
          type="name"
          class="form-control"
          id="floatingInput"
          placeholder="John"
          name="name"
          [(ngModel)]="user.name"
          required
        />
        <label for="floatingInput">Nombre</label>
      </div>
      <div class="form-floating">
        <input
          type="email"
          class="form-control"
          id="floatingInput"
          placeholder="name@example.com"
          name="email"
          [(ngModel)]="user.email"
          required
          email
        />
        <label for="floatingInput">Correo</label>
      </div>
      <div class="form-floating">
        <input
          type="password"
          class="form-control"
          id="floatingPassword"
          placeholder="Password"
          name="password"
          [(ngModel)]="user.password"
          required
        />
        <label for="floatingPassword">Contraseña</label>
      </div>

      <button
        type="submit"
        class="btn btn-primary w-100 py-2 mt-4"
        [disabled]="!form.valid"
      >
        Registrarse
      </button>
      <a [routerLink]="['/login']" class="d-block text-center mt-2 w-100"
        >Iniciar Sesión</a
      >
      <p class="mt-5 mb-3 text-body-secondary text-center">© 2023</p>
    </form>
  </div>
</main>
